*{
    margin: 0;
    padding: 0;
}
// fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

// Pallete Colors

$Soft-red: hsl(7, 99%, 70%);
$Soft-Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan:#25564b; //(graphic design text):
$Dark-blue:hsl(198, 62%, 26%); //(photography text):
$Dark-moderate-cyan:#458c7e; //(footer)
// ### Neutral
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayis-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$Blanco:hsl(0, 0%, 100%);

// animation

@keyframes move {
    30% {

    }
    50%{
        transform: translate(0);
    }
}


@media(max-width: 1440px){

    header{
        background-image: url(/images/desktop/image-header.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        main{
            .Logo{
                position: relative;
                top: 40px;
                margin-left: 1rem;
            } 
            nav{
                .hamburger{
                    display: none;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    justify-content: end;
                    margin: 1rem;
                    .hamburger{
                        display: none;
                    }
                    li{
                        a{
                            padding:1rem;
                            text-decoration: none;
                            color: $Blanco;
                            font-family: 'Barlow', sans-serif;
                            &:hover{
                                color: $Grayish-blue;
                            }
                        }
                        .Contact{
                            background-color: $Blanco;
                            color: $Dark-blue;
                            border-radius: 20px;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-family: 'Fraunces', sans-serif;
                            font-size: 12px;
                            &:hover{
                                background-color: hsl(198, 95%, 75%);
                                color: $Blanco;
                            }
                        }
                    }
                }
            }
        }
        .title{
            text-align: center;
            margin-top: 10rem;
            h1{
                text-align: center;
                font-size: 36px;
                text-transform: uppercase;
                letter-spacing: 10px;
                font-family: 'Fraunces', sans-serif;
                color: $Blanco;
            }
            .arrow{
                width: 50px;
                padding-top: 60px;
                transform: translateY(-30%);
                animation: move 1s infinite;
            }
        }
    }
   
    
    .SectionTransform{
        display: flex;
        flex-direction:row;
        .ImgTransform{
            background-image: url(/images//desktop/image-transform.jpg);
            height: 100vh;
            width:100%;
            background-size: cover;
            background-repeat: no-repeat;
        
    }
        .BoxTransform{
            background-color: $Blanco;
            // padding: 9rem;
            margin: auto 1rem;
        h2{
            font-size: 36px;
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
            margin-bottom: 1rem;
        }
        p{
            color: $Dark-grayish-blue;
            font-size: 18px;
            padding-top: 1.5rem;
        }
        button{
            border:none;
            border-bottom:  5px solid $Soft-Yellow;
            border-radius: 0px 0px 2px 2px;
            background-color: transparent;
            font-size: 18px;
            padding-top: 1.5rem;
            font-family: 'Fraunces', sans-serif;
            text-transform: uppercase;
            &:hover{
                cursor:pointer;
                border-bottom: 5px solid hsla(51, 100%, 49%, 0.527);
            }
        }
        }

    }
    .SectionStanOut{
        display: flex;
        flex-direction: row;
        .ImgStandOut{
            background-image: url(/images/desktop/image-stand-out.jpg);
            height: 100vh;
            width: 81%;
        }
        .BoxStandOut{
            background-color: $Blanco;
            margin: auto 1rem;
            h2{
                font-size: 36px;
                font-family: 'Fraunces', sans-serif;
                font-weight: 900;
                margin-bottom: 1rem;
            }
            p{
                color: $Dark-grayish-blue;
                font-size: 18px;
                padding-top: 1.5rem;
            }
            button{
                border:none;
                border-bottom:  5px solid $Soft-red;
                border-radius: 0px 0px 2px 2px;
                background-color: transparent;
                font-size: 18px;
                padding-top: 1.5rem;
                font-family: 'Fraunces', sans-serif;
                text-transform: uppercase;
                &:hover{
                    cursor:pointer;
                    border-bottom: 5px solid hsla(7, 99%, 70%, 0.63)
                }
            }
        }
    }
    .SectionGP{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .BoxGraphic{
            background-image: url(/images/desktop/image-graphic-design.jpg);
            height: 60vh;
            width: 80.5%;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            .MoveGraphic{
                position: relative;
                top: 16rem;
                padding: 2.5rem;
            }
            h3{
                color: $Dark-desaturated-cyan;
                font-family: 'Fraunces', sans-serif;
                font-size: 26px;
            }
            p{
                color: $Dark-desaturated-cyan;
                font-size: 18px;
                text-align: center;
                // font-family: 'Fraunces', sans-serif;
            }
        }
        .BoxPhoto{
            background-image: url(/images/desktop/image-photography.jpg);
            background-size: cover;
            background-repeat: no-repeat;            
            height: 60vh;
            width: 87%;
            // width: 100vh;
            .MovePhoto{
                position: relative;
                top: 16rem;
                padding: 2.5rem;
            }
            h3{
                color: $Dark-blue;
                font-family: 'Fraunces', sans-serif;
                font-size: 26px;
                text-align: center;
            }
            p{
                color: $Dark-blue;
                font-size: 18px;
                text-align: center;
                // font-family: 'Fraunces', sans-serif;
            }
        }
    }
    h4{
        text-align: center;
        font-size: 22px;
        margin: 7rem;
        font-family: 'Fraunces', sans-serif;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-weight: 900;
        color: $Dark-grayish-blue;
    }
    .SectionTestimonial{
        display: flex;
        flex-direction: row;
        .BoxEmily{
            text-align: center;
            img{
                width: 20%;
                border-radius: 60px;
            }
            .text{
                font-size: 18px;
                color: $Very-dark-grayis-blue;
                font-family: 'Barlow', sans-serif;
                padding: 1rem;
                margin: 1rem 1rem;
                font-weight: 600;
            }
            h5{
                font-family: 'Fraunces', sans-serif;
                color: $Very-dark-desaturated-blue;
                font-size: 18px;
            }
            .Mkt{
                margin: 1rem 1rem;
                color: $Dark-grayish-blue;
                font-family: 'Barlow', sans-serif;
            }
        }
        .BoxThomas{
            text-align: center;
            img{
                width: 20%;
                border-radius: 60px;
            }
            .Text{
                font-size: 18px;
                color: $Very-dark-grayis-blue;
                font-family: 'Barlow', sans-serif;
                padding: 1rem;
                margin: 1rem 1rem;
                font-weight: 600;
            }
            h5{
                font-family: 'Fraunces', sans-serif;
                color: $Very-dark-desaturated-blue;
                font-size: 18px;
            }
            .Chief{
                margin: 1rem 1rem;
                color: $Dark-grayish-blue;
                font-family: 'Barlow', sans-serif;
            }
        }
        .BoxJennie{
            text-align: center;
            img{
                width: 24%;
                border-radius: 60px;
            }
            .Text{
                font-size: 18px;
                color: $Very-dark-grayis-blue;
                font-family: 'Barlow', sans-serif;
                padding: 1rem;
                margin: 1rem 1rem;
                font-weight: 600;
            }
            h5{
                font-family: 'Fraunces', sans-serif;
                color: $Very-dark-desaturated-blue;
                font-size: 18px;
            }
            .Own{
                margin: 1rem 1rem;
                color: $Dark-grayish-blue;
                font-family: 'Barlow', sans-serif;
            }
        }
      
    

}
.GridImg{
    display: grid;
    grid-template-columns: 1 2 3 4;
    grid-template-rows: 1 2;
    margin-top: 5rem;
    // grid-row: 1px;
    .milk{
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }
    .oranges{
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        
    }
    .cone{
        width: 100%;
        grid-column: 3;
        grid-row: 1;
    }
    .sugarcubes{
        width: 100%;
        grid-column: 4;
        grid-row: 1;
    }
}
footer{
    text-align: center;
    background-color: hsl(168, 62%, 60%);
    img{
        padding-top: 3rem;
    }
    .NavFooter{
        padding: 2rem;
        a{
            text-decoration: none;
            color: $Dark-moderate-cyan;
            margin: 1rem;
        }
    }
    .IconImg{
        padding-bottom: 1rem;
        img{
            margin: 1rem;
        }
    }
}
.attribution{
    text-align: center;
    background-color:hsl(168, 62%, 60%);
    a{
        text-decoration: none;
        color: $Very-dark-grayis-blue;
    }
}
}

@media(max-width: 375px){
    
    header{
        background-image: url(/images/mobile/image-header.jpg);
        width: 100%;
        width: 100%;
        height: 100vh;
        background-size: cover;
        main{
            .Logo{
                position: relative;
                top: 30px;
                margin-left: 20px;
            }
            .menu{
                position:absolute;
                
                .hamburger{
                    display: block;
                    position: relative;
                    width: 20px;
                    left: 330px;
                }
                .dropdown{
                    flex-direction: column;
                    padding: 1rem;
                    justify-content: center;
                    position: relative;
                    left: 30px;
                    top: 40px;
                    background-color: $Blanco;
                    width: 250px;
                    z-index:11; 
                    .triangle{
                        color: white;
                        width: 0;
                        height: 0;
                        border-top: 20px solid transparent;
                        border-right: 20px solid #fff;
                        border-bottom: 20px solid transparent;
                        position: relative;
                        top: -36px;
                        left: 246px;
                        z-index: 10;
                    }                   
                    li{
                        padding: 2rem;
                        z-index: 1;
                        text-align: center;
                        a{
                            color: $Grayish-blue;
                            font-size: 18px;
                            
                        }
                        .Contact{
                            background-color: $Soft-Yellow;
                            color: $Dark-blue;
                        }
                    }
                 
                }
                .hide{
                    display: none;
                    
                }
            }
        }
        .title{
            position: absolute;
            h1{
                font-size: 26px;
                letter-spacing: 12px;
            }
            .arrow{
                width: 40px;
            }
        }
    }
    
    .SectionTransform{
        flex-direction: column;
        .BoxTransform{
            padding: 4rem;
        }
        .ImgTransform{
            background-image: url(/images//mobile/image-transform.jpg);
            height: 50vh;
            width:100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .SectionStanOut{
        flex-direction: column;
        .BoxStandOut{
            padding: 4rem;

        }
        .ImgStandOut{
            background-image: url(/images/mobile/image-stand-out.jpg);
            width: 100%;
            height: 60vh;
            background-size: cover;
            background-repeat: no-repeat;

        }
    }
    .SectionGP{
        flex-direction: column;
        .BoxGraphic{
            background-image: url(/images/mobile/image-graphic-design.jpg);
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            .MoveGraphic{
                top: 20rem;
            }
        }
        .BoxPhoto{
            background-image: url(/images/mobile/image-photography.jpg);
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            .MovePhoto{
                top: 20rem;
            }
        }
    }
    .SectionTestimonial{
        flex-direction: column;
    }
    h4{
        letter-spacing: 1px;
    }
    .GridImg{
        .cone{
            grid-column: 1;
            grid-row: 2;
        }
        .sugarcubes{
            grid-column: 2;
            grid-row: 2;
        }
    }
}